.contenedor{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.contenedorImagen, .contenedorFormulario{
	display: flex;
	width: 50%;
	height: 100vh;
	align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contenedorImagen>img{
	padding: 20px;
}
.imagen{
	border-radius:60px;
	width: 65%;
	opacity: 0.75;
}
form{
	background: #E3F6EC;
	border-radius:60px;
	width:80%;
	height: 62%;
	display: flex;
	justify-content:center;
    flex-direction: column;
	align-items: center;
}
form>input{
	background: #F6F7F8;
	border-radius:36px;
	margin: 10px;
	width: 60%;
	height: 4%;
	border: none;
	padding: 12px;
}
form>input[type="button"]{
	background: #01943C;
	color: #282828;
	width: 40%;
	height: 13%;
	justify-content: center;
	align-items: center;
	display: flex;

}
.labelLogin{
	font-size: 1.2em;
}
.errorLabel{
	color: red;
	font-size: 0.8em;
}

select {
    background: #F6F7F8;
    border: none;
    border-radius: 36px;
    width: 40%;
    height: 40px;
    padding: 10px;
    font-size: 0.8em;
    color: #282828;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    appearance: none; /* Oculta el ícono del navegador */
}

/* Agrega una flecha personalizada */
select::after {
    content: '▼';
    font-size: 1em;
    color: #01943C;
    position: absolute;
    right: 10px;
    pointer-events: none;
}

/* Cambiar estilo al enfocar */
select:focus {
    background: #E3F6EC;
    border: 2px solid #01943C;
    outline: none;
}

/* Estilo para los ítems del select */
select option {
    background: #F6F7F8;
    color: #282828;
    padding: 10px;
    font-size: 1em;
}

/* Cambiar color al seleccionar */
select option:checked {
    background: #01943C;
    color: white;
}
