/* NuevoAnalisisMedico.css */
/* Prefijo "nuevo-analisis-medico" agregado a las clases */
.nuevo-analisis-medico-form {
    background: #E3F6EC;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nuevo-analisis-medico-form h2 {
    font-size: 1.8em;
    color: #01943C;
    margin-bottom: 20px;
}

.nuevo-analisis-medico-label {
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #282828;
}

.nuevo-analisis-medico-input,
.nuevo-analisis-medico-textarea,
.nuevo-analisis-medico-button {
    width: 100%;
    margin-top: 8px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    box-sizing: border-box;
}

.nuevo-analisis-medico-input,
.nuevo-analisis-medico-textarea {
    background: #F6F7F8;
    font-size: 1em;
    color: #282828;
}

.nuevo-analisis-medico-textarea {
    resize: none;
    height: 100px;
}

.nuevo-analisis-medico-button {
    background: #01943C;
    color: #F6F7F8;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.nuevo-analisis-medico-button:hover {
    background: #01682E;
}
